<mat-card class="example-card">
    <mat-card-title>Olá, mundo!</mat-card-title>
    <mat-card-content>
      <p class="text">Esta é uma aplicação em Angular, 
        um CRUD de cadastro de usuários
        com Back-End desenvolvido em Java 
        + Spring Boot.
      </p>
    </mat-card-content>
        <!--<mat-progress-bar mode="buffer" color="warn"></mat-progress-bar>-->
    <mat-card-actions>
        <button class="button-crud" mat-raised-button
        (click)="navigateToRouterCrud()">Ir para Cadastro
        </button>
    </mat-card-actions>
    <mat-card-footer>
    </mat-card-footer>
  </mat-card>