.header {
    display: flex;
    align-items: center;
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;

    margin-left: 20px;
    font-size: 18px;
}

.header-icon {
    margin-bottom: 4px;
}